@import 'src/styles';

.head{
    padding-bottom: 5.5px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F8F5F5;
    div{
        .fotodr{
            width: 41px;
            height: 41px;
            border-radius:100%;
            margin-right: 10px;
        }
        span{
            font-family: $primaryfontfam;
            color: $bodyc;
            font-weight: normal;
            font-size: 13px;
            padding-top: 1em;
        }
    }
} 
.container{
    .cita{
        border-bottom: 3px solid #FA0A80;
    }
}
.consultorio{
    label{
        color: #3B3F48;
        padding-bottom: 0.5em;
    }
    .mat-form-field{
        width: 100%;
        font-size: $primaryfontweight;
    }
    .myclass{
        font-family: $primaryfontfam;
    }
    .mat-select{
        color: #A0AAAD;
    }
}
::ng-deep .mat-select-arrow {border: none}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    height: 44px;
    border: 2px solid #E8E9EB;
    border-radius: 8px;
}
::ng-deep .mat-form-field{
    background-color: white;
    .mat-input-element {
        color: #3B3F48;
    }
    .mat-form-field-label {
        color: #A0AAAD;
    }
    .mat-form-field-underline {
        background-color: transparent;
        margin-bottom: 5px;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
}
::ng-deep .mat-form-field.mat-focused{
    .mat-form-field-label {
    color: white!important;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
    .mat-input-element {
        color: #3B3F48;
    }
}
