.menuside{width: 40px; height: 40px; border-radius:100%;}
.menus{font-size: 16px; font-weight: 400}
.opciones{
    position: fixed;
    bottom: 0; 
    font-size: 13px;
    .opcion{color: #A0AAAD;}
    .sesion{color: #F44336;}
}
