@import 'src/styles';

::placeholder{
    color: rgba(221, 221, 221, 1);
}
nav{
    background: $primary;
    height: 64px;
    a{
        padding-top: 35px;
    }
    P{
        color: #FFFFFF;
        font-weight: 500;
        font-size: $primaryfontsize;
        font-family: $primaryfontfam;
        padding-top: 35px;
    }
    button{
        padding-top: 33px;
    }
}
.container{
    background-color: $primary !important;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 100%;
}

::ng-deep .mat-form-field{
    background-color: white;
    .mat-input-element {
        color: #3B3F48;
    }
    .mat-form-field-label {
        color: #A0AAAD;
    }
    .mat-form-field-underline {
        background-color: transparent;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
}

::ng-deep .mat-form-field.mat-focused{
    .mat-form-field-label {
    color: white!important;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
    .mat-input-element {
        color: #3B3F48;
    }
}
::ng-deep .mat-form-field.mat-form-field-invalid{
    .mat-input-element {
        color: #3B3F48;
    }
    .mat-form-field-label {
        color: white!important;
    }
    .mat-form-field-label .mat-form-field-required-marker {
        color: transparent;
    }
    .mat-form-field-ripple {
        background-color: $primary;
    }
}
button{
    color: #FFFFFF;
    font-weight: 500;
    font-family: $primaryfontfam;
    background-color: $primary;
}
