@import 'src/styles';

::placeholder{
    color: rgba(221, 221, 221, 1);
}
.sidemenu{
    width: 88%;
    font-family: $primaryfontfam;
    color: $bodyc;
    .menuside{width: 40px; height: 40px; border-radius:100%;}
    .menus{font-size: 16px; font-weight: 400}
    .opciones{
        position: fixed;
        bottom: 0; 
        font-size: 13px;
        .opcion{color: #A0AAAD;}
        .sesion{color: #F44336;}
    }

}
nav{
    background: $primary;
    height: 46px;
    P{
        color: #FFFFFF;
        font-weight: 500;
        font-size: $primaryfontsize;
        font-family: $primaryfontfam;
    }
    .btn:active, .btn:focus{
        box-shadow: none;
    }
}
.container{
    background-color: $primary !important;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 15px;
    min-width: 100%;
}
.image2{
    position: absolute;
    width: 19px;
    padding-top: 30px;
    left: 50px;
}

::ng-deep .mat-form-field{
    background-color: white;
    height: 32px;
    .mat-input-element {
        color: #3B3F48;
    }
    .mat-form-field-label {
        color: #A0AAAD;
    }
    .mat-form-field-underline {
        background-color: transparent;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
}

::ng-deep .mat-form-field.mat-focused{
    .mat-form-field-label {
    color: white!important;
    }
    .mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-form-field-required-marker {
        color: transparent;
    }
    .mat-input-element {
        color: #3B3F48;
    }
}
::ng-deep .mat-form-field.mat-form-field-invalid{
    .mat-input-element {
        color: #3B3F48;
    }
    .mat-form-field-label {
        color: white!important;
    }
    .mat-form-field-label .mat-form-field-required-marker {
        color: transparent;
    }
    .mat-form-field-ripple {
        background-color: $primary;
    }
}
button{
    color: #FFFFFF;
    font-weight: 500;
    font-family: $primaryfontfam;
    font-size: $primaryfontsize;
    background-color: $primary;
    padding-top: 10px;
}
