<mat-sidenav-container class='app-sidenav-container' fullscreen>
    <mat-sidenav #sidenav class="p-2 sidemenu">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="d-flex justify-content-between">
            <button class= "px-3 pt-3 text-decoration-none test" mat-button (click)="sidenav.open()">
                <mat-icon class="menu" [ngStyle]="{'color':'white'}">menu</mat-icon>
            </button>
            <p class="pt-3 paciente" cdk-focus-start>Pacientes</p>
            <button ng-show="!selectItem='zero" type="button" class="px-3 pt-3 border border-0 btn" (click)="selectItem='one'" data-toggle="collapse" data-target="#demo1"> <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon></button>    
        </nav>
        <div class="container">
            <div id="demo1" class="collapse" [ngClass]="{'show':selectItem=='one'}">
                <div class="d-flex p-0" style="height: 65px">
                    <mat-form-field class="search1" [ngStyle]="{'font-size.px': size}">
                        <input type="text" id="search" matInput placeholder="Busca entre tus pacientes" matInput [matAutocomplete]="auto" [(ngModel)]="searchText">
                        <mat-autocomplete #auto="matAutocomplete">
                            <!-- <mat-option *ngFor="let arreglo of arreglos">
                                {{ arreglo.nombre }}
                            </mat-option> -->
                        </mat-autocomplete>
                    </mat-form-field>
                    <button class="border border-0 float-right clear" onclick="document.getElementById('search').value = null" (click)="selectItem='zero'; clearSearch()">Cancelar</button>
                </div>
            </div>
        </div>

        <div *ngFor="let arreglo of arreglos | search:'id,nombre,ci':searchText" class="border border-bottom-0">
            <div *ngIf= "this.arreglo.id === '1' || null" class="pl-1">
            <a (click)=details(); id="1">
                    <div class="d-flex">
                            <div class="m-2">
                                    <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                                    <img *ngIf= "this.arreglo.id === '1'" src="assets/images/noDoctorisy.svg" class="align-self-end image2" alt="Gris logo">
                            </div>
                            <div class="col d-flex flex-column justify-content-center">
                                    <label>{{ arreglo.nombre }}</label>
                                    <span>{{ arreglo.ci }}</span>           
                        </div>
                    </div>
            </a>
            </div>

            <div *ngIf= "this.arreglo.id === '2' || ''" class="pl-1">
            <a (click)=details1(); id="2">
                <div class="d-flex">
                        <div class="m-2">
                                <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                                <img *ngIf= "this.arreglo.id === '2'" src="assets/images/doctorisy.svg" class="align-self-end image2" alt="Azul logo">
                        </div>
                        <div class="col d-flex flex-column justify-content-center">
                                <label>{{ arreglo.nombre }}</label>
                                <span>{{ arreglo.ci }}</span>           
                    </div>
                </div>
            </a>
            </div>

            <div *ngIf= "this.arreglo.id === '3' || ''" class="pl-1">
            <a (click)=details2(); id="3">
                <div class="d-flex">
                        <div class="m-2">
                                <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                        </div>
                        <div class="col d-flex flex-column justify-content-center">
                                <label>{{ arreglo.nombre }}</label>
                                <span>{{ arreglo.ci }}</span>           
                    </div>
                </div>
            </a>
            </div>
            </div>
        <mat-divider></mat-divider>
    </mat-sidenav-content>
</mat-sidenav-container>