<nav class="d-flex justify-content-between">
    <a class= "px-3 text-decoration-none test" routerLink="/informacion">
        <mat-icon class="menu" [ngStyle]="{'color':'white'}">menu</mat-icon>
    </a>
    <p class="paciente">Pacientes</p>
    <button ng-show="!selectItem='zero" type="button" class="px-3 border border-0" (click)="selectItem='one'" data-toggle="collapse" data-target="#demo1"> <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon></button>
    
</nav>
<section>
<div class="container">
    <div id="demo1" class="collapse" [ngClass]="{'show':selectItem=='one'}">
        <div class="d-flex ">
            <mat-form-field class="search1" [ngStyle]="{'font-size.px': size}">
                <input type="text" id="search" matInput placeholder="Busca entre tus pacientes" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option> -->
                </mat-autocomplete>
            </mat-form-field>
            <button class="border border-0 float-right clear" onclick="document.getElementById('search').value = ''" (click)="selectItem='zero'">Cancelar</button>
        </div>
    </div>
</div>
</section>

<div *ngFor="let option of filteredOptions | async" [id]='options'>
    <div *ngIf= "this.option === 'Gris' || ''">
    <a (click)=details(); id="gris">
            <div class="d-flex">
                    <div class="m-2">
                            <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                            <label>{{option}}</label>
                            <span>123456</span>           
                </div>
            </div>
    </a>
    </div>

    <div *ngIf= "this.option === 'Azul' || ''">
    <a (click)=details1(); id="azul">
        <div class="d-flex">
                <div class="m-2">
                        <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                </div>
                <div class="col d-flex flex-column justify-content-center">
                        <label>{{option}} </label>
                        <span>123456</span>           
            </div>
        </div>
    </a>
    </div>

    <div *ngIf= "this.option === 'Basico' || ''" >
    <a (click)=details2(); id="basico">
        <div class="d-flex">
                <div class="m-2">
                        <img src="assets/images/profilepic.jpg" style="width: 50px; height: 50px; border-radius:100%;"/>
                </div>
                <div class="col d-flex flex-column justify-content-center">
                        <label>{{option}}</label>
                        <span>1234567</span>           
            </div>
        </div>
    </a>
    </div>

    <mat-divider></mat-divider>
</div>