@import 'src/styles';

nav{
    div.container{
        background: $primary;
        p{
            color: rgba(255, 255, 255, 1);
            font-weight: 500;
            font-family: $primaryfontfam;
            font-size: $primaryfontsize;
        }
        img{
            width: 15px;
        }
    }
}
section.container{
    img{
        width: 120px;
    }
    button{
        background-color: $primary;
        font-weight: 500;
        font-size: 18px;
        color: white;
        border-radius: 25px;
    }
}
section.info_personal{
    p.cambio{
        color: #A0AAAD;
        line-height: 1;
        a{
            color: $primary;
            text-decoration: underline;
        }
    }
}
button.reportar{
    background-color: white;
    font-size: 18px;
    color: $primary;
    border: solid $primary;
    border-radius: 25px;
}
#eliminar{
    color: #A0AAAD;
    font-size: 18px;
    text-decoration: underline;
}