@import 'src/styles';

nav{
    background: $primary;
    height: 46px;
    padding-left: 1em;
    padding-right: 1em;
    p{
        padding-right: 2em;
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-family: $primaryfontfam;
        font-size: $primaryfontsize;
    }
}
.alerta{
    height: 53px auto;
    font-family: $primaryfontfam;
    font-size: $primaryfontweight;
    color: #3B3F48;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    .alertext{
        line-height: 1.3;
    }
}
section.container{
    img.image1{
        width: 120px;
        height: 120px;
        border-radius:100%;
    }
    img.image2{
        position: absolute;
        padding-left: 6em;
    }
    button{
        background-color: $primary;
        font-family: $primaryfontfam;
        font-weight: 500;
        font-size: 18px;
        color: white;
        border-radius: 25px;
        box-shadow: none;
    }
}
section.info_personal{
    p.cambio{
        color: #A0AAAD;
        line-height: 1;
        a{
            color: $primary;
            text-decoration: underline;
        }
    }
}
.infoapp{
    span{
        font-weight: 300;
        strong{
            font-weight: bold;
        }
    }
}
button.reportar{
    background-color: white;
    font-size: 18px;
    color: $primary;
    border: solid $primary;
    border-radius: 25px;
}
#eliminar{
    color: #A0AAAD;
    font-size: 18px;
    text-decoration: underline;
}
.custom-width {
    height: 613px;
}