<header>
        <div class="container">
                <a href="#" class="d-inline test"><img class="arrow" src="assets/images/arrow-left-white.svg" alt="Arrow"></a>
                <p class="mx-auto d-inline title">Paciente</p>
        </div>
</header>
<section class="container">
    <div class="parent">
            <img src="assets/images/profilepic.svg" class="rounded mx-auto d-block image1" alt="Profile Pic">
            <img src="assets/images/doctorisy2x.svg" class="rounded mx-auto d-block image2" alt="Logo">
    </div>
    <h1 class="nombre">Luciana Perez</h1>
    <nav>
        <button type="button" class="agendar">Agendar</button>
    </nav>
</section>
<form [formGroup]="pacienteForm" (ngSubmit)="onSubmit ()">
        <section class="info_personal">
        <h2>Información Personal</h2>
        <div class="row">
                <div class="col-sm-6">
                <label for="primerNombre">Primer nombre</label><br>
                <input type="text" class="form-input" id="primerNombre" name="primerNombre" placeholder="Luciana" formControlName="primerNombre" required>
                </div>
                <div class="col-sm-6">
                        <label for="segundoNombre">Segundo nombre</label><br>
                        <input type="text" class="form-input" id="segundoNombre" name="segundoNombre" formControlName="segundoNombre">
                </div>
                <div class="col-sm-6">
                        <label for="primerApellido">Primer Apellido</label><br>
                        <input type="text" class="form-input" id="primerApellido" name="primerApellido" placeholder="Perez" formControlName="primerApellido" required>
                </div>
                <div class="col-sm-6">
                        <label for="segundoApellido">Segundo Apellido</label><br>
                        <input type="text" class="form-input" id="segundoApellido" name="segundoApellido" placeholder="Vasquez" formControlName="segundoApellido">
                </div>
        </div>
        <p class="cambio">¿Necesitas cambiar estos datos?<br> Por favor envianos un <a href="#">correo</a></p>
        </section>
        <section class="masinfo">
                <div formGroupName="masinfo">
                <div class="row">
                <div class="col-sm-6">
                        <label for="cedula">Cédula</label><br>
                        <input type="number" class="form-input" id="cedula" name="cedula" placeholder="1713092255" formControlName="cedula" required>
                </div>
                <div class="col-sm-6">
                        <label for="nacimiento">Fecha de nacimiento</label><br>
                        <input type="text" class="form-input" id="nacimiento" name="nacimiento" placeholder="03 junio 1961" formControlName="nacimiento">
                </div>
                <div class="col-sm-6">
                        <label for="genero">Género</label><br>
                        <input type="text" class="form-input" id="genero" name="genero" placeholder="Femenino" formControlName="genero">
                </div>
        </div>
        </div>
        </section>
        <section class="info_contacto">
                <div formGroupName="contacto">
                <h2>Información de Contacto</h2>
                <div class="row">
                <div class="col-sm-6">
                        <label for="pais">País</label><br>
                        <input type="text" class="form-input" id="pais" name="pais" placeholder="Ecuador" formControlName="pais">
                </div>
                <div class="col-sm-6">
                        <label for="ciudad">Ciudad</label><br>
                        <input type="text" class="form-input" id="ciudad" name="ciudad" placeholder="Quito" formControlName="ciudad">
                </div>
                <div class="col-sm-6">
                <label for="correo">Dirección de correo</label><br>
                <input type="email" class="form-input" id="correo" name="correo" placeholder="car***@g***.com" formControlName="correo">
                </div>
                <div class="col-sm-6">
                        <label for="celular">Celular</label><br>
                        <div class="container">
                        <div class="row"> 
                        <mat-form-field class="col-4">
                                <mat-select [(value)]="selected">
                                        <mat-select-trigger> <img src="assets/images/24px/{{selected}}.png" alt="Flag"> {{selected}}</mat-select-trigger>
                                        <mat-option value="+593" id="EC"> <img src="assets/images/24px/EC.png" alt="EC" class="rounded-circle"> (593)</mat-option> 
                                        <mat-option value="+34" id="ES"> <img src="assets/images/24px/ES.png" alt="ES" class="rounded-circle"> (34)</mat-option>
                                        <mat-option value="+1." id="US"> <img src="assets/images/24px/US.png" alt="US" class="rounded-circle"> (1)</mat-option>
                                        <mat-option value="+54" id="AR"> <img src="assets/images/24px/AR.png" alt="AR" class="rounded-circle"> (54)</mat-option>
                                        <mat-option value="+61" id="AU"> <img src="assets/images/24px/AU.png" alt="AU" class="rounded-circle"> (61)</mat-option>
                                        <mat-option value="+32" id="BE"> <img src="assets/images/24px/BE.png" alt="BE" class="rounded-circle"> (32)</mat-option>
                                        <mat-option value="+501" id="BZ"> <img src="assets/images/24px/BZ.png" alt="BZ" class="rounded-circle"> (501)</mat-option>
                                        <mat-option value="+591" id="BO"> <img src="assets/images/24px/BO.png" alt="BO" class="rounded-circle"> (591)</mat-option>
                                        <mat-option value="+55" id="BR"> <img src="assets/images/24px/BR.png" alt="BR" class="rounded-circle"> (55)</mat-option>
                                        <mat-option value="+1" id="CA"> <img src="assets/images/24px/CA.png" alt="CA" class="rounded-circle"> (1)</mat-option>
                                        <mat-option value="+56" id="CL"> <img src="assets/images/24px/CL.png" alt="CL" class="rounded-circle"> (56)</mat-option>
                                        <mat-option value="+86" id="CN"> <img src="assets/images/24px/CN.png" alt="CN" class="rounded-circle"> (86)</mat-option>
                                        <mat-option value="+57" id="CO"> <img src="assets/images/24px/CO.png" alt="CO" class="rounded-circle"> (57)</mat-option>
                                        <mat-option value="+506" id="CR"> <img src="assets/images/24px/CR.png" alt="CR" class="rounded-circle"> (506)</mat-option>
                                        <mat-option value="+53" id="CU"> <img src="assets/images/24px/CU.png" alt="CU" class="rounded-circle"> (53)</mat-option>
                                        <mat-option value="+45" id="DK"> <img src="assets/images/24px/DK.png" alt="DK" class="rounded-circle"> (45)</mat-option>
                                        <mat-option value="+503" id="SV"> <img src="assets/images/24px/SV.png" alt="SV" class="rounded-circle"> (503)</mat-option>
                                        <mat-option value="+33" id="FR"> <img src="assets/images/24px/FR.png" alt="FR" class="rounded-circle"> (33)</mat-option>
                                        <mat-option value="+49" id="DE"> <img src="assets/images/24px/DE.png" alt="DE" class="rounded-circle"> (49)</mat-option>
                                        <mat-option value="+30" id="GR"> <img src="assets/images/24px/GR.png" alt="GR" class="rounded-circle"> (30)</mat-option>
                                        <mat-option value="+52" id="MX"> <img src="assets/images/24px/MX.png" alt="MX" class="rounded-circle"> (52)</mat-option>
                                        <mat-option value="+507" id="PA"> <img src="assets/images/24px/PA.png" alt="PA" class="rounded-circle"> (507)</mat-option>
                                        <mat-option value="+595" id="PY"> <img src="assets/images/24px/PY.png" alt="PY" class="rounded-circle"> (595)</mat-option>
                                        <mat-option value="+51" id="PE"> <img src="assets/images/24px/PE.png" alt="PE" class="rounded-circle"> (51)</mat-option>
                                        <mat-option value="+351" id="PT"> <img src="assets/images/24px/PT.png" alt="PT" class="rounded-circle"> (351)</mat-option>
                                        <mat-option value="+7" id="RU"> <img src="assets/images/24px/RU.png" alt="RU" class="rounded-circle"> (7)</mat-option>
                                        <mat-option value="+82" id="KR"> <img src="assets/images/24px/KR.png" alt="KR" class="rounded-circle"> (82)</mat-option>
                                        <mat-option value="+46" id="SE"> <img src="assets/images/24px/SE.png" alt="SE" class="rounded-circle"> (46)</mat-option>
                                        <mat-option value="+971" id="AE"> <img src="assets/images/24px/AE.png" alt="AE" class="rounded-circle"> (971)</mat-option>
                                        <mat-option value="+44" id="GB"> <img src="assets/images/24px/GB.png" alt="GB" class="rounded-circle"> (44)</mat-option>
                                        <mat-option value="+598" id="UY"> <img src="assets/images/24px/UY.png" alt="UY" class="rounded-circle"> (598)</mat-option>
                                        <mat-option value="+58" id="VE"> <img src="assets/images/24px/VE.png" alt="VE" class="rounded-circle"> (58)</mat-option>
                                        
                                </mat-select>
                        </mat-form-field>
                        <input type="text" class="form-input col celu" id="celular" name="celular" placeholder="997124936" formControlName="celular">
                        <a href="#" class="col-auto llamar" data-rel="external">Llamar</a>               
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        <section class="boton">
                <nav>
                        <button type="button" class="reportar">Reportar paciente</button>
                </nav>
        </section>
</form>
