/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: #FA0A80;
$bodyc: #3B3F48;
$inputc: #E8E9EB;
$primaryfontfam: 'Montserrat', sans-serif;
$primaryfontsize: 15px;
$primaryfontweight: 400;


header{
    background: $primary;
    padding: 3px;
    a{
        color: white;
        &:hover{
            color: white;
        }
        .arrow{
            width: 20px;
        }
    }
    .title{
        text-align: center;
        font-weight: 500;
        font-family: $primaryfontfam;
        font-size: $primaryfontsize;
    }
}
body{
    font-family: $primaryfontfam;
    color: $bodyc;
    font-weight: normal;
    div.parent{
        padding: 1em;
    }
    input{
        border: solid $inputc;
        border-width: 2px;
        width: 100%;
        box-sizing: border-box;
    }
    mat-form-field{
        border: solid $inputc;
        border-width: 2px;
        border-radius: 4%;
    }
}
h1{
    color: $bodyc;
    font-size: $primaryfontsize;
}
h3{
    font-size: $primaryfontsize;
}
section{
    font-size: $primaryfontsize;
    font-weight: $primaryfontweight;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #DDDDDD;
}
label{
    margin-bottom: 0;
    font-weight: 400;
}